<html>
	<head>
		<title>{{ title }}</title>
	</head>
	<body>
		<h1 style="text-align: center;color: #191970;font-size: 40pt;font-family: Verdana, Geneva, sans-serif;">{{ heading }}</h1>
		<h1 style="text-align: center;color: #191970;font-size: 28pt;font-family: Verdana, Geneva, sans-serif;">{{ subHeading }}</h1>
		<p style="text-align: center;color: #191970;font-size: 18pt;font-family: Verdana, Geneva, sans-serif;font-weight: bold;margin-top: 5em">This platform is {{ body }}</p>
	</body>
</html>